.boxFilter {
  display: grid;
  grid-template-columns:
    minmax(auto, 283px) minmax(auto, 283px) minmax(auto, 137px)
    minmax(auto, 137px) auto;
  align-items: flex-end;
  gap: 16px;
}
.titleHome {
  font-size: 32px;
}
.boxButtonReset {
  display: flex;
}

.buttonReset {
  width: fit-content;
  padding: 0;
  color: gray;
  background-color: transparent;
  border: 0;
  font-size: 14px;
  font-weight: 500;
  padding-bottom: 10px;
}

.boxRatingSelectors {
  display: flex;
  align-items: flex-end;
  gap: 8px;
}
.sortBy {
  max-width: 284px;
  grid-column: 4/6;
}
.boxPagination {
  display: flex;
  justify-content: flex-end;
}

.wrapperMovieAndPagination {
  display: grid;
  grid-template-rows: minmax(482px, auto) 200px;
}

@media (max-width: 990px) {
  .boxFilter {
    grid-template-columns: 1fr 1fr;
  }
  .sortBy {
    grid-column: 1/2;
  }
}

@media (max-width: 660px) {
  .boxFilter {
    grid-template-columns: minmax(auto, 200px);
    justify-content: center;
  }
  .boxButtonReset {
    justify-content: center;
  }
  .titleHome {
    text-align: center;
  }
}
