.listMovie {
  display: grid;
  grid-template-columns: minmax(auto, 502px) minmax(auto, 502px);
  list-style: none;
  gap: 16px;
  padding-left: 0;
  margin-top: 24px;
}

.oneMovie {
  background-color: #ffffff;
  padding: 24px;
  border-radius: 12px;
}
.boxInfoMovie{
  

  
}

.textMovie{

}

.boxIcon{
  
}
