.navbar {
  display: flex;
  flex-direction: column;
  padding: 24px 24px 24px 24px;
  background-color: #f2ebf9;
  height: 100%;
}
.boxLinks {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.boxLogo {
  display: flex;
  gap: 7px;
  align-items: center;
  margin-bottom: 80px;
}
.linkButton .mantine-Button-inner {
  justify-content: flex-start;
}


.linkButton {
  
}


@media (max-width: 520px) {
  .navbar {
    align-items: center;
    height: auto;
  }
  .boxLogo {
    margin-bottom: 10px;
  }
  .boxLinks {
    flex-direction: row;
  }
}
