.wrap {
  display: grid;
  grid-template-rows: minmax(482px, auto) minmax(82px, auto);
  grid-template-columns: minmax(100%, 820px);
  align-items: center;
}

.titleAndSearchBox {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.title {
  flex: 50%;
}
.search {
  flex: 50%;
}

/* @media (max-width: 980px) {
  .wrap {
    grid-template-rows: 1fr;
  }
} */

@media (max-width: 950px) {
  .titleAndSearchBox {
    flex-direction: column;
  }
}
