.wrap {
  min-height: 100vh;
  display: grid;
  grid-template-rows: minmax(482px, auto) 1fr;
}

.titleAndSearchBox {
  display: flex;
  align-items: center;
  justify-content: space-between
}
.title{
  flex: 50%;
}
.search {
  flex: 50%;
}
.wrap .listMovie{
  align-self: start;
}