.wrap {
  display: grid;
  grid-template-rows: minmax(482px, auto) minmax(82px, auto);
  align-items: center;
}

.titleAndSearchBox {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 40px;
}
.title {
  flex: 50%;
  margin: 0 0 10px 0;
}
.search {
  flex: 50%;
}

@media (max-width: 950px) {
  .titleAndSearchBox {
    flex-direction: column;
  }
}
