.listMovie {
  display: grid;
  grid-template-columns: minmax(auto, 502px) minmax(auto, 502px);
  list-style: none;
  gap: 16px;
  padding-left: 0;
  margin-top: 24px;
  align-items: center;
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
}
.oneMovie {
  background-color: #ffffff;
  padding: 24px;
  border-radius: 12px;
  list-style: none;
  display: flex;
  column-gap: 16px;
}
.wrappInformationMovie {
  display: flex;
  gap: 8px;
}
.info {
  margin: 8px 0 8px 0;
}
.textMovie {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-between;

  & .titleMovie {
    color: #9854f6;
    font-size: 20px;
    margin: 0;
  }
  & .listGenres {
    display: flex;
    gap: 10px;
    margin: 0;
    color: #000000;
  }
}

.boxIcon {
  display: flex;
}

.noPoster {
  max-width: 120px;
  min-height: 170px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #eaebed;
  color: #acadb9;
}

@media (max-width: 943px) {
  .listMovie {
    grid-template-columns: 1fr;
  }
  .oneMovie {
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 390px) {
  .boxInfoMovie {
    column-gap: 4px;
  }
  .oneMovie {
    padding: 24px;
  }
}
