.mainBoxTrailer {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border-radius: 12px;
  padding: 24px;
}

.description {
  & .descriptionTrailer {
    margin-top: 0;
    font-size: 20px;
    line-height: 20px;
  }
  & .descriptionParagraph {
    line-height: 22.4px;
  }
}
.nameStudio {
  font-weight: 700;
  line-height: 22.4px;
}

.logoItem {
  display: flex;
  list-style: none;
  gap: 8px;
  align-items: center;
}
