@import '@mantine/core/styles.css';

body {
  margin: 0;
  padding: 0;
}

.main {
  display: grid;
  grid-template-columns: minmax(auto, 300px) 1fr;
}

a {
  text-decoration: none;
}
.linkButton .mantine-Button-inner {
  justify-content: flex-start;
}

@media (max-width: 520px) {
  .main {
    grid-template-columns: 1fr;
  }

}
